//
//  Common.xcconfig
//
//  Copyright © 2020 8x8, Inc. All rights reserved.
//

// Architectures
SDKROOT = iphoneos

ARCHS = x86_64 arm64
ARCHS[sdk=iphoneos*] = arm64
ARCHS[sdk=iphonesimulator*] = x86_64 arm64

// Deployment
IPHONEOS_DEPLOYMENT_TARGET = 15.5
TARGETED_DEVICE_FAMILY = 1

// Packaging
DEFINES_MODULE = YES
SKIP_INSTALL = NO

// Search Paths
ALWAYS_SEARCH_USER_PATHS = NO

// Compiler - Language
GCC_C_LANGUAGE_STANDARD = gnu99
ENABLE_STRICT_OBJC_MSGSEND = YES
CLANG_ANALYZER_NONNULL = YES

// Compiler - Language - C++
CLANG_CXX_LANGUAGE_STANDARD = gnu++0x
CLANG_CXX_LIBRARY = libc++

// Compiler - Language - Swift
SWIFT_VERSION = 5.0

// Compiler - Language - Modules
CLANG_ENABLE_MODULES = YES

// Compiler - Language - Objective C
CLANG_ENABLE_OBJC_ARC = YES

// Compiler - Code Generation
GCC_SYMBOLS_PRIVATE_EXTERN = YES
GCC_NO_COMMON_BLOCKS = YES

ENABLE_BITCODE = NO

// shader profiling
MTL_ENABLE_DEBUG_INFO = NO

// Compiler - Warning Polices
// GCC_TREAT_WARNINGS_AS_ERRORS = YES

// Compiler - Warnings - All languages
CLANG_WARN_BOOL_CONVERSION = YES
CLANG_WARN_CONSTANT_CONVERSION = YES
CLANG_WARN_DIRECT_OBJC_ISA_USAGE = YES_ERROR
CLANG_WARN_EMPTY_BODY = YES
CLANG_WARN_ENUM_CONVERSION = YES
CLANG_WARN_INT_CONVERSION = YES
CLANG_WARN_INFINITE_RECURSION = YES
CLANG_WARN_UNREACHABLE_CODE = YES
CLANG_WARN_SUSPICIOUS_MOVE = YES
CLANG_WARN_DOCUMENTATION_COMMENTS = NO

GCC_WARN_64_TO_32_BIT_CONVERSION = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES_ERROR
GCC_WARN_SHADOW = YES
GCC_WARN_SIGN_COMPARE = YES
GCC_WARN_UNINITIALIZED_AUTOS = YES_AGGRESSIVE
GCC_WARN_UNUSED_FUNCTION = NO
GCC_WARN_UNUSED_VARIABLE = YES
GCC_WARN_UNDECLARED_SELECTOR = YES

// Compiler - Warnings - Objective C
CLANG_WARN__DUPLICATE_METHOD_MATCH = YES
CLANG_WARN_DEPRECATED_OBJC_IMPLEMENTATIONS = YES
CLANG_WARN_OBJC_IMPLICIT_RETAIN_SELF = YES
CLANG_WARN_OBJC_ROOT_CLASS = YES_ERROR

// extra
CLANG_WARN_BLOCK_CAPTURE_AUTORELEASING = YES
CLANG_WARN_NON_LITERAL_NULL_CONVERSION = YES
CLANG_WARN_OBJC_LITERAL_CONVERSION = YES
CLANG_WARN_RANGE_LOOP_ANALYSIS = YES
CLANG_WARN_STRICT_PROTOTYPES = YES
CLANG_WARN_COMMA = YES
CLANG_ANALYZER_LOCALIZABILITY_NONLOCALIZED = YES
